html {
    font-size: 10px;
}

:root {
    --accent: orange;
    --text: #1a1a1a;
    --regular-text: 16px;
    --lineheight: 1.65;
    --userfont: roboto-st, sans-serif;
    --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

@font-face {
    src: url("../fonts/museosanscyrl-300.woff2") format("woff2");
    font-family: "museosanscyrl";
    font-weight: 300;
    font-style: normal;
}

@font-face {
    src: url("../fonts/museosanscyrl-500.woff2") format("woff2");
    font-family: "museosanscyrl";
    font-weight: 500;
    font-style: normal;
}

@font-face {
    src: url("../fonts/museosanscyrl-700.woff2") format("woff2");
    font-family: "museosanscyrl";
    font-weight: 700;
    font-style: bold;
}

@font-face {
    src: url("../fonts/museosanscyrl-900.woff2") format("woff2");
    font-family: "museosanscyrl";
    font-weight: 500;
    font-style: normal;
}

.header,
.footer,
.main,
.section {
    position: relative;
}

body {
    min-width: 370px;
    line-height: normal;
    font-size: 16px;
    font-family: "museosanscyrl", serif;
    background-color: #fff;
    color: var(--text);
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p,
ul,
li,
ul,
h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.main {
    padding-top: 40px;
}

.container {
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
}

.section {
    margin-bottom: 80px;
}

.container--max {
    max-width: 1280px;
}

.container--min {
    max-width: 1116px;
}

.block-help {
    background-color: #93bbea;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #fff;
    padding: 40px 20px 54px 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-help__content {
    position: relative;
    z-index: 1;
}

.block-help::before,
.block-help::after {
    content: "";
    width: 275px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
}

.block-help::before {
    background-image: url(../img/block-offer-img-1.png);
    left: 0;
    top: 40px;
}

.block-help::after {
    background-image: url(../img/block-offer-img-2.png);
    right: -40px;
    bottom: 0;
}

.block-help__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
}

.block-help__text {
    font-weight: 300;
    font-size: 17px;
    line-height: 140%;
    max-width: 535px;
    width: 100%;
    margin-bottom: 40px;
}

.block-help__links {
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(4, 160px);
}

.block-help__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: var(--text);
    text-decoration: none;
    gap: 8px;
    height: 48px;
    background-color: #fff;
    border-radius: 12px;
}

.block-join {
    padding: 42px 40px;
    box-shadow: 0px 20px 60px 0px rgba(26, 26, 26, 0.05);
    border-radius: 40px;
    position: relative;
}

.block-join__wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.block-join__sub-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.block-join__title {
    font-size: 40px;
    font-weight: 600;
}

.block-join__socials {
    display: grid;
    grid-template-columns: repeat(6, 56px);
    gap: 14px;
}

.block-join__social {
    height: 56px;
    border-radius: 13px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
}

.swiper {
    padding: 20px 0;
}

.swiper-slide {
    border-radius: 16px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    height: 160px !important;
}

.swiper-slide__wr {
    display: flex;
    justify-content: space-between;
}

.swiper-slide__col:nth-child(1) {
    padding: 16px 16px 16px 16px;
}

.swiper-slide__title {
    margin-bottom: 10px;
    font-size: 20px;
}

.swiper-slide__text {
    font-weight: 300;
    color: #949494;
    font-size: 15px;
    line-height: 140%;
}

.swiper-button-prev,
.swiper-button-next {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    filter: drop-shadow(0px 1px 7px rgba(0, 0, 0, 0.09));
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
}

.swiper-button-next {
    right: 2px;
}

.swiper-button-prev {
    left: 2px;
}

.swiper-button-prev img {
    transform: rotate(180deg);
}

.swiper-button-disabled {
    display: none;
}

.section-reference .section__title {
    margin-bottom: 32px;
}

.reference__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.reference__item {
    background-color: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    position: relative;
    display: block;
    padding: 20px 44px 20px 24px;
    width: 100%;
    cursor: pointer;
}

.reference__item::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../img/icon/arrow-gray-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
}

.reference__item--active .reference__body {
    display: block;
}

.reference__item--active::after {
    transform: translateY(-50%) rotate(90deg);
}

.reference__title {
    font-size: 20px;
    user-select: none;
}

.reference__body {
    max-width: 500px;
    width: 100%;
    margin-top: 5px;
    display: none;
    user-select: none;
}

.reference__body p {
    font-size: 13px;
    color: #949494;
    line-height: 140%;
    font-weight: 300;
}

.article {
    margin-bottom: 40px;
}

.article__header {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 16px;
}

.article__title {
    font-size: 24px;
}

.article__content {
    margin-bottom: 40px;
    max-width: 690px;
    width: 100%;
}

.article__content p {
    font-size: 15px;
    font-weight: 300;
}

.article__header-icon {
    cursor: pointer;
}

.article__bottom-btns {
    display: flex;
    gap: 8px;
    align-items: center;
}

.article__btn {
    border-radius: 12px;
    background-color: #36ba5f;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #fff;
    font-size: 15px;
    flex: 0 0 224px;
    gap: 8px;
    cursor: pointer;
    text-decoration: none;
}

.article__bottom-text {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 16px;
}

.article__btn-min {
    flex: 0 0 48px;
    height: 48px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

@media screen and (max-width: 992px) {
    .block-help::before,
    .block-help::after {
        width: 200px;
    }

    .block-help::after {
        bottom: -35px;
    }
}

@media screen and (max-width: 770px) {
    .container {
        padding: 0 20px;
    }

    .section {
        margin-bottom: 40px;
    }

    .block-help {
        padding: 20px;
    }

    .block-help__title {
        font-size: 47px;
    }

    .block-help__text {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .block-help__links {
        grid-template-columns: repeat(2, 1fr);
    }

    .swiper-slide__title {
        font-size: 16px;
    }

    .swiper-slide__text {
        font-size: 14px;
    }

    .swiper-slide__img {
        width: 70px;
    }

    .section__title {
        font-size: 36px;
    }

    .swiper-slide {
        height: 100% !important;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .block-help__title {
        font-size: 27px;
    }

    .block-help {
        border-radius: 20px;
    }

    .block-join {
        padding: 20px;
        border-radius: 20px;
    }

    .block-join__sub-title {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .block-join__title {
        font-size: 28px;
    }

    .block-join__socials {
        gap: 10px;
        grid-template-columns: repeat(6, 36px);
    }

    .block-join__social {
        height: 36px;
    }

    .block-join__wr {
        gap: 10px;
    }

    .block-join__social-icon {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    .section__title {
        font-size: 24px;
        margin-bottom: 0;
    }

    .swiper-slide {
        height: 140px;
    }

    .reference__title {
        font-size: 16px;
    }
}

@media screen and (max-width: 440px) {
    .block-help__links {
        grid-template-columns: repeat(1, 1fr);
    }
}
